html, body {
  --header-logo-height: 4.125rem;
  --header-logo-margin: 13px 0 32px;
  --search-bar-width: 100%;
  --search-bar-placeholder-color: var(--price-old-color);
  --search-bar-placeholder-color-focus: var(--search-bar-placeholder-color);
  --header-icon-color: #4C4C4C;
}

.sf-top-bar__center, .sf-header__aside {
  --button-font-size: 11px;
  --button-color: var(--header-icon-color);
  --icon-color: var(--header-icon-color);
}

.sf-button {
  gap: 5px;
}
