.quick-order-icon {
  --icon-width: 32px;
  --icon-height: 19px;
}

.shopping-list-icon {
  --icon-width: 19px;
  --icon-height: 16px;
}

.cart-icon {
  --icon-width: 30px;
  --icon-height: 26px;
}

.user-icon {
  --icon-width: 20px;
  --icon-height: 23px;
}

.arrow-icon {
  --icon-width: 7px;
  --icon-height: 4px;
}
