.container {
  margin: 0 -5px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  &__button {
    --image-width: 20px;
    --button-box-shadow: none;
    background: none;
    padding: 0 10px;
    display: flex;
    align-items: center;
    opacity: 0.5;
    border: none;

    &:hover,
    &--selected {
      opacity: 1;
    }
  }
}
