.modal {
  &__demo-styles {
    .sf-modal {
      &__container {
        width: fit-content;
      }

      &__content {
        padding: 0;

        .form {
          &__login {
            .form__element {
              & .sf-input,
              & .sf-select {
                &__wrapper,
                &__dropdown {
                  width: 345px;
                }
              }
            }
          }

          &__registration {
            .form__element {
              & .sf-input,
              & .sf-select {
                &__wrapper,
                &__dropdown {
                  width: 530px;
                }
              }
            }

            .name-inputs {
              .form__element {
                & .sf-input,
                & .sf-select {
                  &__wrapper,
                  &__dropdown {
                    width: 255px;
                  }
                }
              }
            }
          }

          &__element {
            &.sf-select {
              border: 1px solid #dce0e5;
              border-radius: 2px;
              padding: 5px 5px 0 5px;
            }

            & .sf-input,
            & .sf-select {
              &__wrapper,
              &__dropdown {
                border: 1px solid #dce0e5;
                border-radius: 2px;
                padding: 5px 5px 0 5px;

                width: 335px;

                input {
                  border: none;
                  outline: none;
                }
              }

              &__label {
                text-transform: uppercase;

                &::after {
                  color: var(--button-background, var(--c-primary));
                }
              }
            }
          }

          &__button {
            text-transform: none;
          }
        }

        .bottom {
          display: flex;
          align-items: center;
          justify-content: center;

          margin: 0;
          padding: 20px;
        }
      }
    }

    .text {
      &-green {
        color: var(--c-primary);
      }

      &-grey {
        color: #b2b2b2;
      }

      &-no-decoration {
        text-decoration: none;
      }
    }
  }
}
